@media (max-width: 768px) {
  header {
    padding: 2vw;
  }
  /* 
  header h1 {
    font-size: 7.159vw;
  } */

  .header-content {
    flex-direction: column;
    align-items: end;
  }

  .rectangle-1 {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 14.3vw;
  }

  .rectangle-1 p {
    width: 96%;
  }

  .highlight {
    font-size: 1.8vw;
  }
  */ .header-images {
    width: 48%;
    margin: 0 auto;
    top: 2.031vw;
    left: 2.343vw;
  }

  .header-images img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 320px) {
  .ladder {
    display: none;
  }
  /* .step-content,
  .rectangle-1,
  .run-stroke_1,
  .run-stroke_1 img {
    width: 100%;
  } */
  /* .run-stroke_1 img {
    width: 100%;
    height: auto;
  }
  .rectangle-1 {
    width: 100%;
    height: auto;
  }
  .run-stroke_1 {
    width: 100%;
    height: auto;
  }
  .step,
  .step-1 {
    width: 100%;
    height: auto;
  }
  .step-2 {
    width: 100%;
    height: auto;
  }
  .rectangle-2 {
    width: 100%;
    height: auto;
  }
  .rectangle-2 img {
    width: 100%;
    height: auto;
  } */

  .step {
    width: 100%;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
  }

  .run-stroke_1 img,
  .rectangle-1,
  .run-stroke_1,
  .step,
  .step-1 {
    width: 100%;
    height: auto;
  }

  .rectangle-2,
  .rectangle-2 img,
  .step-2 {
    width: 100%;
    height: auto;
  }
}
