* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Neoform;
  text-transform: uppercase;
  cursor: url("https://i.ibb.co/Qj6YrBt6/CURSOR.png"), pointer;
}
header h1 {
  font-size: 12.109vw;
  font-style: normal;
  font-weight: 400;
  color: #cf00cf;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.character-first {
  width: 8.906vw;
  margin-left: 4vw;
  margin-top: 2vw;
}

.header-images,
.rectangle-1 {
  width: 47.656vw;
  height: 21.64vw;
  border-width: 0.39vw;
  outline-color: #cf00cf;
  outline-style: solid;
  border-radius: 0.3125vw;
  z-index: -1;
}
.header-content p {
  max-width: 100%;
  margin: 1.406vw 1.875vw 1.484vw 1.875vw;
  font-size: 1.875vw;
  line-height: 2.343vw;
  color: #cf00cf;
}
h2,
h3,
h4 {
  font-size: 5.859vw;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: left;
}
.start img {
  width: 24.195vw;
}

.start {
  position: relative;
  display: inline-block;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.start:hover .hover-img {
  opacity: 1;
}

.stars-first {
  width: 20.3125vw;
}
.step-1 {
  display: flex;
}
.step-1 > div {
  width: 50%;
}

.step-1-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.stars-first,
.stars-first2 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 0;
  left: 20vw;
  animation: switchStars 1s infinite alternate;
}

.stars-first {
  z-index: 1;
}

.stars-first2 {
  animation-delay: 0.5s;
}

.step-content {
  position: relative;
}
.step-1 .step-content {
  width: 26.40625vw;
  height: 16.562vw;
}
.step-2 .step-content {
  width: 38.5156vw;
  height: 13.984vw;
}
.step-3 .step-content {
  width: 45.625vw;
  height: 20vw;
}
.step-4 .step-content {
  width: 48.515vw;
  height: 16.797vw;
}
.step-5 .step-content {
  width: 55.703vw;
  height: 23.593vw;
}
.step-6 .step-content {
  width: 67.5vw;
  height: 8.75vw;
}
.step-7 .step-content {
  width: 69.7656vw;
  height: 25.7vw;
}
.step-8 .step-content {
  width: 70.1vw;
  height: 24.609vw;
}
.step-9 .step-content {
  width: 74.453vw;
  height: 19.6vw;
}
.step-10 .step-content {
  width: 77.031vw;
  height: 25.9375vw;
}
.step-11 .step-content {
  width: 83.6718vw;
  height: 15.234vw;
}
.step-12 .step-content {
  width: 86.015vw;
  height: 18.203vw;
}

.step-content::after {
  position: absolute;
  right: 1.5vw;
  bottom: 1.5vw;
  font-size: 5vw;
  color: white;
}
.step-1 .step-content::after {
  content: "1";
  font-family: "Rammetto One";
}
.step-2 .step-content::after {
  content: "2";
  font-family: "Rammetto One";
}
.step-3 .step-content::after {
  content: "3";
  font-family: "Rammetto One";
}
.step-4 .step-content::after {
  content: "4";
  font-family: "Rammetto One";
}
.step-5 .step-content::after {
  content: "5";
  font-family: "Rammetto One";
}
.step-6 .step-content::after {
  content: "6";
  font-family: "Rammetto One";
}
.step-7 .step-content::after {
  content: "7";
  font-family: "Rammetto One";
}
.step-8 .step-content::after {
  content: "8";
  font-family: "Rammetto One";
}
.step-9 .step-content::after {
  content: "9";
  font-family: "Rammetto One";
}
.step-10 .step-content::after {
  content: "10";
  font-family: "Rammetto One";
}
.step-11 .step-content::after {
  content: "11";
  font-family: "Rammetto One";
}
.step-12 .step-content::after {
  content: "12";
  font-family: "Rammetto One";
}

.rectangle_1 {
  width: 26.406vw;
  height: 16.562vw;
  border: 0.39vw solid #cf00cf;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_2 {
  width: 38.5156vw;
  height: 13.984vw;
  border: 0.39vw solid #380038;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_2 img {
  width: 37.734vw;
}

.rectangle_3 {
  border: 0.39vw solid #fff;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_3 img {
  width: 16.328vw;
}

.rectangle_4 {
  width: 48.515vw;
  height: 16.797vw;
  border: 0.39vw solid #cf00cf;
  border-radius: 0.3125vw;
  background-color: #380038;
  z-index: -1;
}

.rectangle_4 img {
  width: 115.2164vw;
}

.rectangle_5 {
  width: 55.703vw;
  height: 23.593vw;
  border: 0.39vw solid #fff;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_6 {
  width: 67.5vw;
  height: 8.75vw;
  border: 0.39vw solid #380038;
  border-radius: 0.3125vw;
  background-color: #cf00cf;
  z-index: -1;
}

.rectangle_7 {
  width: 69.7656vw;
  height: 25.7vw;
  border: 0.39vw solid #fff;
  border-radius: 0.3125vw;
  background-color: #380038;
  z-index: -1;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.rectangle_8 {
  width: 72.109vw;
  height: 24.609vw;
  border: 0.39vw solid #380038;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_9 {
  width: 74.453vw;
  height: 19.6vw;
  border: 0.39vw solid #fff;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_10 {
  width: 77.031vw;
  height: 25.9375vw;
  background-color: #fff;
  border: 0.39vw solid #cf00cf;
  border-radius: 0.3125vw;
  z-index: -1;
  position: relative;
}

.step-10-background {
  width: 76.232vw;
}

.mini-star {
  position: absolute;
  width: 11.093vw;
  top: 11.9vw;
  left: 36.9vw;
  z-index: 1;
  animation: pulse-0 2s infinite ease-in-out;
}

.mini_star {
  position: absolute;
  width: 4.585vw;
  top: 11.9vw;
  left: 36.7vw;
  z-index: 2;
  animation: pulse 2s infinite ease-in-out;
}

.rectangle_11 {
  width: 83.6718vw;
  height: 15.234vw;
  border: 0.39vw solid #fff;
  border-radius: 0.3125vw;
  background-color: #380038;
  z-index: -1;
}

.rectangle_12 {
  width: 86.015vw;
  height: 18.203vw;

  border: 0.39vw solid #cf00cf;
  border-radius: 0.3125vw;
  z-index: -1;
}

.rectangle_1 img {
  width: 60.594vw;
}

.start img {
  margin-left: 4vw;
  margin-top: -0.5vw;
}
footer {
  color: #fff;
}
.footer-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.rectangle_13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.497vw;
  color: #fff;
  width: 96.796vw;
  border: 0.39vw solid #380038;
  border-radius: 0.3125vw;
  z-index: -1;
  padding: 1vw;
  margin-top: 10vw;
  margin-bottom: 2vw;
}
.point-3 img {
  display: inline;
  width: 16.328vw;
}
.rectangle_13 img {
  width: 12.89vw;
}
.rectangle_3 {
  width: 45.625vw;
  height: 20vw;
  display: flex;
}

.number_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle_6 {
  width: 67.5vw;
  height: 8.75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 1.71875vw;
  padding-bottom: 1.71875vw;
  padding-left: 1.406vw;
}
.number_6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle_11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 1.71875vw;
  padding-bottom: 1.71875vw;
  padding-left: 1.406vw;
}
h2,
h3,
h4 {
  text-align: left;
  width: 100%;
}
.number_11 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.run-stroke-2 {
  padding: 2vw 0;
  overflow: hidden;
}
.run-stroke-2 img {
  width: 200%;
  animation: marquee 6s infinite linear;
}
.run-stroke-2 :hover {
  animation-play-state: paused;
}
.run-stroke-1 {
  padding: 2vw 0;
  overflow: hidden;
}
.run-stroke-1 img {
  width: 200%;
  animation: marquee 3s infinite linear;
}
.run-stroke-1 :hover {
  animation-play-state: paused;
}
.result p {
  font-size: 5vw;
  color: #fff;
  margin-top: 2vw;
  margin-left: 2vw;
}

.stars-end {
  display: grid;
  width: 8.125vw;
  height: 4vw;
  place-items: center;
  margin: 4vw 26vw;
}

.star {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}
.stars-end img {
  animation: stars-end 4s steps(4) infinite;
}
.stars-end img:nth-child(1) {
  animation-delay: 0s;
}
.stars-end img:nth-child(2) {
  animation-delay: 1s;
}
.stars-end img:nth-child(3) {
  animation-delay: 2s;
}
.stars-end img:nth-child(4) {
  animation-delay: 3s;
}

.step_12 {
  position: relative;
  width: 85.015vw;
  height: 18.203vw;
  overflow: hidden;
}

.scale {
  position: absolute;
  top: 0;
  left: 0.15vw;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: animateScale 3s steps(5) infinite;
}

.scale:nth-child(1) {
  animation-delay: 0s;
}
.scale:nth-child(2) {
  animation-delay: 0.6s;
}
.scale:nth-child(3) {
  animation-delay: 1.2s;
}
.scale:nth-child(4) {
  animation-delay: 1.8s;
}
.scale:nth-child(5) {
  animation-delay: 2.4s;
}

.ladder img {
  width: 54.0625vw;
  position: absolute;
  top: 35vw;
  left: 37.9296vw;
  z-index: -1;
}

main {
  position: relative;
}

.rectangle_5 {
  width: 100%;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.row {
  display: flex;
  gap: 0.546875vw;
}

.circle {
  width: 3.90625vw;
  height: 3.90625vw;
  border: 0.390625vw solid transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.pink {
  border-color: #cf00cf;
}

.burgundy {
  border-color: #380038;
}

.pink:hover {
  background-color: #380038;
}

.burgundy:hover {
  background-color: #cf00cf;
}

.step_9 {
  position: relative;
  width: 73.453vw;
  height: 19.6vw;
  overflow: hidden;
}

.spiral {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: animateSpiral 1.8s steps(3) infinite;
}

.spiral:nth-child(1) {
  animation-delay: 0s;
}
.spiral:nth-child(2) {
  animation-delay: 0.6s;
}
.spiral:nth-child(3) {
  animation-delay: 1.2s;
}

.step_8 {
  position: relative;
  width: 71.1vw;
  height: 24.609vw;
  overflow: hidden;
}

.cubes {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: animateCubes 9s steps(15) infinite;
}

.cubes:nth-child(1) {
  animation-delay: 0s;
}
.cubes:nth-child(2) {
  animation-delay: 0.6s;
}
.cubes:nth-child(3) {
  animation-delay: 1.2s;
}
.cubes:nth-child(4) {
  animation-delay: 1.8s;
}
.cubes:nth-child(5) {
  animation-delay: 2.4s;
}
.cubes:nth-child(6) {
  animation-delay: 3s;
}
.cubes:nth-child(7) {
  animation-delay: 3.6s;
}
.cubes:nth-child(8) {
  animation-delay: 4.2s;
}
.cubes:nth-child(9) {
  animation-delay: 4.8s;
}
.cubes:nth-child(10) {
  animation-delay: 5.4s;
}
.cubes:nth-child(11) {
  animation-delay: 6s;
}
.cubes:nth-child(12) {
  animation-delay: 6.6s;
}
.cubes:nth-child(13) {
  animation-delay: 7.2s;
}
.cubes:nth-child(14) {
  animation-delay: 7.8s;
}
.cubes:nth-child(15) {
  animation-delay: 8.4s;
}

.highlight {
  color: rgb(255, 255, 255);
}

.static-element {
  width: 27.578vw;
  z-index: 0;
}

.left-column,
.right-column {
  margin-left: 2vw;
  margin-right: 2vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rotating-element {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate_step7 3s linear infinite;
}

.dashed-lines {
  display: flex;
  align-items: center;
  max-width: 33%;
}

.dashed-lines img {
  width: 100%;
  height: auto;
  display: block;
  animation: lines 2s linear infinite;
}

.header-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battery-animation {
  width: 100%;
  height: 17.2578vw;
  position: relative;
  margin: 0 auto;
}

.battery {
  animation: battery-animation 2.5s steps(1, end) infinite;
}

/* .header-images img {
  width: 42.8125vw;
  height: 17.2656vw;
  margin: 0 auto;
  position: relative;
  top: 2.031vw;
  left: 2.343vw;
} */
.battery:nth-child(1) {
  animation-delay: 0s;
}
.battery:nth-child(2) {
  animation-delay: 0.5s;
}
.battery:nth-child(3) {
  animation-delay: 1s;
}
.battery:nth-child(4) {
  animation-delay: 1.5s;
}
.battery:nth-child(5) {
  animation-delay: 2s;
}

.header-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
